<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <CustomAction Id='SetRootDrive' Property='ROOTDRIVE' Value='[%SystemDrive]\' />
        <InstallUISequence>
            <Custom Action="SetRootDrive" Before="CostInitialize"></Custom>
        </InstallUISequence>
    </Fragment>
</Wix>